
/* main menu icon XXX: generic mechanism */
ul#mainmenu li.node-repositories a {
    background:url('images/menu_repositories.png') top left no-repeat;
}
ul#mainmenu li.node-repositories a.current_page_item {
    background:url('images/menu_repositories_selected.png') top left no-repeat;
}

/* Revision */
.revisiondetails {
    border-width:1px 1px 0px 1px;
    border-color:#ccc;
    border-style:solid;
    border-collapse:collapse;
    border-spacing:none;
}
.revisiondetails td {
    padding: 5px;
    border-bottom:#ccc 1px solid;
}
.revisiondetails td.labelcol {
    font-weight:bold;
    text-align:right;
    border-right:#ccc 1px solid;
}
.revisiondetails td ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.revisiondetails td ul li {
    list-style-image:none;
    margin: 0;
    padding:0;
}
.revisiondetails .hidden {
    color:red;
}
.revisiondetails .anonymous {
    color:green;
}
.state-working_copy,
.revisiondetails .working_copy {
    color:orange;
}
.state-active,
.revisiondetails .active {
    color:green;
}
.state_frozen,
.revisiondetails .frozen {
    color:red;
}
